extends ../layout
block content
        if errors 
                ul
                        for error in errors
                                li!= error.msg
        form(method='POST' action='/users/register')
                p Username:
                input(type='text', name='username')
                p E-mail:
                input(type='text', name='email')
                p Password:
                input(type='password', name='password')
                p Confirm password:
                input(type='password', name='password_confirmation')
                button(type='submit') Register
